<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')

        style. 
            body{background-color:#fffefa;}

            .main_container {
                 background-color:white;
                 margin:auto;
                 padding:10px;
                 max-width:450px;
                 text-align:center; 
                 -webkit-box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
                 -moz-box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
                 box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
                 display:none;
            }
            h1 {
                font-family:lato;
                font-size:24px; 
                font-style:normal; 
                margin-top:50
            }
            p {
                font-family:lato;
                font-size:12px; 
                font-style:normal;
                margin-top:40px
            }
            #profile_picture {
                margin-top:60px;
                margin-bottom:60px;
                margin-left:auto;
                margin-right:auto;
                width:200px;
                height:200px;
                border-radius:50%;
                overflow:hidden;
                -webkit-box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
                -moz-box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
                box-shadow: 4px 6px 28px -7px rgba(0,0,0,0.52);
            }
            #profile_picture img {
                width:100%;
                height:auto;
            }
            #myButton {
                box-shadow: 0px 10px 14px -7px #276873;
                background:linear-gradient(to bottom, #00b3ff 5%, #006aff 100%);
                background-color:#00b3ff;
                border-radius:15px;
                display:inline-block;
                cursor:pointer;
                color:#ffffff;
                font-family:Arial;
                font-size:20px;
                font-weight:bold;
                padding:17px 44px;
                text-decoration:none;
                text-shadow:0px 1px 0px #3d768a;
            }
            #myButton:hover {
            	 background:linear-gradient(to bottom, #006aff 5%, #00b3ff 100%);
            	 background-color:#006aff;
            }
            #myButton:active {
            	 position:relative;
            	 top:1px;
            }


    body
        script. 
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));
        
        .main_container

            h1 This is the title
            p
             |hello #{name} This is the first text, the message is #{title}
                 
            #profile_picture
              img(src=profile_pic alt="Profile")
              

            a#myButton() G&aring; videre  
            p
             |your sender_psid is #{sender_psid}

        
        
        
        //when the sdk is loaded do something
        script. 
            window.extAsyncInit = function() {
             // the Messenger Extensions JS SDK is done loading 
             //alert("facebook sdk has finished loading");
             var the_class = document.getElementsByClassName("main_container");
             the_class[0].style.display = "block";

             //add the eventlistener
             document.getElementById("myButton").addEventListner("click" () => {
                 alert("button clicked");
             })

             };
       

    footer